@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --table: radial-gradient( #004b00, #003000);
  --table-border: 2px rgba(0, 119, 0, 0.277) solid;
  --tableBG: #003000;
}

body {
  background-color: var(--tableBG);
}

#container {
  position: absolute;
  background: var(--table);
  max-width: 100%;
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  border: 3px #724800 solid;
  overflow: hidden;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}

#container.blur {
  position: absolute;
  filter: blur(20px);
  min-width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.bet-container {
  position: fixed;
  text-align: center;
  top: 20vh;
  left: 50%;
  padding: 0.5rem;
  border: 2px solid white;
  /* border-radius: 10px; */
  color: white;
  width: 585px;
  height: 263px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  background: rgb(0, 0, 0);
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
}

.rules-link {
  position: absolute;
  text-decoration: none;
  color: white;
  padding: 0.3rem;
  top: 3%;
  right: 2%;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  border-radius: 50%;
}

.rules-link:hover, .rules-link:focus {
  color: black;
  background-color: white;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
}

.bet-form-alert {
  padding: 0.7rem;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  border: 2px solid white;
  border-radius: 30px;
  font-size: calc(1.7rem + 1vh);
  color: rgb(255, 230, 145);
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
}

.remaining-coins {
  color: yellow;
}

.remaining-coins:hover {
  cursor: pointer;
}

#bet-amount {
  font-size: calc(100% + 1rem);
  border: 0;
  padding: 5px;
  width: 93%;
  height: 20%;
  outline: none;
  margin-top: 1rem;
  text-align: center;
  background: none;
  color: aliceblue;
  border: 2px solid white;
  border-radius: 24px;
}

#bet-amount::-webkit-outer-spin-button,
#bet-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#bet-amount[type=number] {
  -moz-appearance: textfield;
}

.bet-container.blur {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  top: 50vh;
}

.theme-container {
  position: relative;
  width: 50%;
  height: 40%;
  text-align: left;
  padding: 10px;
}

.theme-choice-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}


.choice {
  margin-top: calc(0.1% + 10px);
  width: 42px;
  height: 42px;
  border: 3px rgb(114, 72, 0) solid;
}

#choice1 {
  background: radial-gradient( #004b00, #003000);
}

#choice1:hover, #choice2:hover, #choice3:hover, #choice4:hover {
  cursor: pointer;
  border-color: white;
}

#choice1:active, #choice2:active, #choice3:active, #choice4:active {
  border-width: 0.25rem;
  border-color: yellow;
}


#choice2 {
  background: radial-gradient( #750202, #5d0000);
}

#choice3 {
  background: radial-gradient(#007e8e, #005d68);
}

#choice4 {
  background: radial-gradient(#252525, #000000);
}


#deal-button {
  color: white;
  width: 30%;
  height: 20%;
  background: none;
  border: 2px solid white;
  border-radius: 25px;
  position: absolute;
  bottom: 8%;
  right: 5%;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}

#deal-button:disabled {
  pointer-events: none;
  border-color: gray;
  color: gray;
}

#deal-button:hover {
  background: white;
  color: black;
  cursor: pointer;
}



/*chip stack ------------------ */
.coin-container .fa-coins {
  width: 50px;
  height: 50px;
  margin: 0.3em;
  color: white;
}



/* Hand value text ------------------ */
.text {
  font-family: 'Poppins', sans-serif;
  margin-top: 1em;
  color: rgb(255, 241, 194);
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.75rem;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}



/* coin container ------------------ */
.coin-container {
  margin-top: 0.5em;
  position: absolute;
  top: 0;
  left: 40%;
  display: flex;
  border: 2px solid whitesmoke;
  background-color: rgb(0, 0, 0);
  height: calc(3.6rem + 2vh);
  width: calc(9rem + 4vw);
  flex-direction: row;
  align-items: center;
  z-index: 2;
}

.coin-amount {
  font-family: 'Oswald', sans-serif;
  font-size: calc(0.01rem + 2vh);
  font-weight: bolder;
  flex: 1;
  color: white;
  letter-spacing: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}



/* Score Values ------------------------------------------------------------------------- */
#player {
  margin-left: 2.5em;
  margin-right: 2em;
  z-index: 2;
}

#dealer {
  margin-right: 2.5em;
  margin-left: 2em;
  z-index: 2;
}


/* Loader ------------------------------------------------------------------------------------ */

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  justify-content: center;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  height: 32vh;
  z-index: 10;
  display: flex;
  flex-direction: row;
}


.loader-text {
  user-select: none;
  color: white;
  font-size: calc(2.8rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}


/* card container and space ------------------------------------------------------------------------- */
.card-container {
  align-items: center;
  justify-content: space-between;
  margin: auto;  
  width: 95%;
  height: 69%;
  display: flex;
  flex-direction: row;
}

.card-space {
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

#p1-space {
  margin-top: 3rem;
  border: var(--table-border);
  width: 50%;
  height: 100%;
}

#cpu-space {
  margin-top: 3rem;
  border: var(--table-border);
  width: 50%;
  height: 100%;
}

.card {
  position: relative;
  width: 113px;
  height: 165px;
  margin: 0rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5%;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}

.inactive {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}



/* command buttons and labels ------------------------------------------------------------------------- */
.button-container {
  box-shadow: 0px 0px 40px 40px #1f1f1f;
  opacity: 70%;
  margin: 0.5rem;
  padding: 0.33rem;
  position: absolute;
  width: 17.125rem;
  height: 110px;
  border: 1px whitesmoke solid;
  background-color: black;
  bottom: 0.5%;
  left: 39%;
  border-radius: 10px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}

.button-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttons {
  border: transparent;
  width: 60px;
  height: 60px;
  color: azure;
  background: none;
  border-radius: 50%;
  transition: 0.33s;
  -moz-transition: 0.33s;
  -o-transition: 0.33s;
  -webkit-transition: 0.33s;
}

#double:enabled {
  background-color: #ff9100;
}

#hit:enabled {
  background-color: #00ce00;
  transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  -webkit-transition: 0s;
}

#stand:enabled {
  background-color: #ff2400;
  transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  -webkit-transition: 0s;
}

#split:enabled {
  background-color: #0000cd;
}

/* --------------- */

#hit:disabled, #stand:disabled, #double:disabled, #split:disabled {
  background-color: gray;
  pointer-events: none;
  transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  -webkit-transition: 0s;
}

#double-container, #split-container {
  display: none;
}


#double:hover {
  background-color: #ffc9a9;
  cursor: pointer;
}

#hit:hover {
  background-color: rgb(132, 255, 132);
  cursor: pointer;
}

#stand:hover {
  background-color: #ffa597;
  cursor: pointer;
}

#split:hover {
  background-color: rgb(70, 119, 255);
  cursor: pointer;
}

.label {
  position: relative;
  margin-top: 0.25rem;
  color: white;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 23%;
  font-family: 'Roboto', sans-serif;
}


.insurance-container {
  user-select: none;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 40px 40px #1f1f1f;
  opacity: 70%;
  margin: 0.5rem;
  padding: 0.2rem;
  position: absolute;
  width: 17.125rem;
  height: 110px;
  border: 1px whitesmoke solid;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  bottom: 0.5%;
  left: 14%;
  border-radius: 10px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}

.insurance-text {
  font-size: 1.5rem;
}



#choice-content {
  width: 100%;
  height: 100%;
}

.insurance-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.yes-container, .no-container {
  max-width: 26%;
  margin: 0;
}

#yes:enabled {
  background-color: #00ce00;
  transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  -webkit-transition: 0s;
}

#no:enabled {
  background-color: #ff2400;
  transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  -webkit-transition: 0s;
}

#yes:hover {
  background-color: rgb(132, 255, 132);
  cursor: pointer;
}

#no:hover {
  background-color: #ffa597;
  cursor: pointer;
}



/* ------------------------------------------------------------------------ */

.total-bet-container {
  transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  opacity: 70%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.5rem;
  text-align: center;
  color: white;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  border-radius: 50px;
}

.total-bet-container.hidden2 {
  bottom: -20%;
  pointer-events: none;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  visibility: hidden;
  opacity: 0;
}


.total-bet-label {
  margin-bottom: 0.2rem;
}

.total-bet-container .fa-coins {
  position: absolute;
  margin: 0.5rem;
  left: 7%;
  font-size: 2.3rem;
}

span.bet-number {
  text-align: center;
  font-size: 2.1rem;
  position: relative;
  display: block;
  left: 6%;
  margin-top: 0rem;
}

.hidden {
  pointer-events: none;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  opacity: 0;
}

.hidden2 {
  bottom: -20%;
  pointer-events: none;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  visibility: hidden;
  opacity: 0;
}

.result-overlay-container {
  transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  opacity: 100%;
  cursor: pointer;
}

.result-overlay-container.hidden {
  transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}

.result-overlay-container .text {
  width: calc(5rem + 47vw);
  height: calc(1rem + 9vh);
  padding: 0;
  color: white;
  margin: 0;
  font-size: 2rem;
}

#top-text {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  border-bottom: 2px solid white;
}

#bottom-text {
  display: flex;
  justify-content: center;
  text-align: center;
  border-top: 2px solid white;
}

.bet-notice {
  z-index: 3;
  height: 8vh;
  width: 53%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-transform: translate(46%, 21vh);
  -ms-transform: translate(46%, 21vh);
  -o-transform: translate(46%, 21vh);
  -webkit-transform: translate(46%, 21vh);
  transform: translate(46%, 21vh);
  position: absolute;
  font-family: 'Playfair Display', serif;  
  color: rgb(255, 241, 194);
  font-size: 1.9rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  text-align: center;
  line-height: 1;
}


.orientation-background {
  position: relative;
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
  color: white;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: teal;
}

.orientation-label {
  position: relative;
  top: 68%;
}

.orientation-container {
  width: 78%;
  height: 280px;
  /* background-color: green; */
  position: absolute;
  top: 50vh;
  left: 50%;
  overflow: hidden;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.orientation-icon {
  position: absolute;
  top: 0;
  left: 10%;
  width: 98%;
  height: 65%;
  background-image: url('./../media/phone.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.img-citation {
  font-size: 0.5rem;
  position: absolute;
  top: 85%;
}

@media only screen and (orientation: portrait){
    /*phones and tablets using portrait mode*/
    .theme-name {
      display: none;
    }

    .orientation-container {
      width: 85%;
      height: 290px;
      top: 50vh;
      left: 55%;
      overflow: hidden;
    }

    #theme-name {
      display: none;
    }

  @media only screen and (min-width: 315px) and (min-height: 475px) {
    /* small phones */
    #container {
      display: none;
    }
  }

  @media only screen and (min-width: 370px) and (min-height: 657px) {
    /* most phones */

    .orientation-icon {
      width: 80%;
      height: 80%;
    }

    .orientation-label {
      top: 79%;
    }

    .img-citation {
      position: absolute;
      top: 89%;
      left: 10%;
    }

  }

  @media only screen and (min-width: 768px) and (min-height: 1024px) {
    /* medium sized tablets */

    .orientation-background {
      display: none;
    }

    #container {
      display: block;
    }

    .result-overlay-container {
      height: 110vh;
      -moz-transform: translate(0%, -8vh);
      -ms-transform: translate(0%, -8vh);
      -o-transform: translate(0%, -8vh);
      transform: translate(0%, -8vh);
      -webkit-transform: translate(0%, -8vh);
    }

    .bet-container {
      position: fixed;
      text-align: center;
      top: 20vh;
      left: 50%;
      padding: 0.5rem;
      border: 2px solid white;
      /* border-radius: 10px; */
      color: white;
      width: calc(83% - 2em);
      height: 30vh;
    }

    .coin-container {
      margin-top: 2vh;
    }

    .coin-amount {
      font-size: calc(0.5rem + 2vh);
    }

    .total-bet-container {
      transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      -webkit-transition: 0.4s;
      position: relative;
      width: 18rem;
      height: 99px;
      float: right;
      bottom: calc(0.5% + 0vh);
      right: 11%;
      border-radius: 50px;
      background-color: black;
      border: 2px solid white;
      box-shadow: 0px 0px 40px 40px #1f1f1f;
    } 

    span.bet-number {
      text-align: center;
      font-size: 2.1rem;
      position: relative;
      display: block;
      left: 17%;
      margin-top: 0rem;
    }

    #bet-amount {
      font-size: calc(2.5vh + 1rem);
    }

    h1 {
      font-size: calc(1rem + 2vh);
    }

    .bet-container h4 {
      font-size: calc(0.1rem + 1.9vh);
    }

    .title-text {
      font-size: calc(0.1rem + 1.8vh);
    }

    #deal-button {
      font-size: calc(1rem + 2vh);
    }

    .theme-container {
      bottom: -6%;
    }

    .choice {
      margin-top: calc(0.1% + 10px);
      width: calc(20px + 3vh);
      height: calc(20px + 3vh);
    }

    #p1-space {
      margin-top: 3rem;
      width: 95%;
      height: 100%;
    }
    
    #cpu-space {
      margin-top: 3rem;
      width: 95%;
      height: 100%;
    }

    #dealer {
      text-align: center;
      width: 95%;
      margin: auto;
      -moz-transform: translate(-26vw, 8.8vh);
      -ms-transform: translate(-26vw, 8.8vh);
      -o-transform: translate(-26vw, 8.8vh);
      -webkit-transform: translate(-26vw, 8.8vh);
      transform: translate(-26vw, 8.8vh);
      font-size: calc(2.5vh + 0.09rem);
    }

    #player {
      text-align: center;
      width: 95%;
      margin: auto;
      transform: translate(23vw, 49.7vh);
      -moz-transform: translate(23vw, 49.7vh);
      -ms-transform: translate(23vw, 49.7vh);
      -o-transform: translate(23vw, 49.7vh);
      -webkit-transform: translate(23vw, 49.7vh);
      font-size: calc(2.5vh + 0.09rem);
    }

    .card-container {
      align-items: center;
      justify-content: flex-end;
      margin: auto;  
      width: 95%;
      height: 83%;
      flex-direction: column-reverse;
    }

    .card {
      position: relative;
      width: calc(2vw + 6rem);
      height: calc(2vh + 9rem);
      margin: 0rem;
    }

    .inactive {
      transform: translate(68vw, -83vh);
      -o-transform: translate(68vw, -83vh);
      -webkit-transform: translate(68vw, -83vh);
      -ms-transform: translate(68vw, -83vh);
      -moz-transform: translate(68vw, -83vh);
      transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
    }

    .button-container {
      left: 10%;
    }

    .result-overlay-container .text {
      width: calc(5rem + 47vw);
      height: calc(2rem + 3vh);
      padding: 0;
      color: white;
      margin: 0;
    }

    #top-text {
      font-size: calc(2.7rem + 1vh);
    }
    
    #bottom-text {
      padding-top: 5px;
      font-size: calc(2rem + 1vh);
      line-height: 1;
    }

    .insurance-container {
      bottom: 0.5%;
      left: 10%;
    }

    .bet-notice {
      transform: translate(46%, 48vh);
      -moz-transform: translate(46%, 48vh);
      -ms-transform: translate(46%, 48vh);
      -webkit-transform: translate(46%, 48vh);
      -o-transform: translate(46%, 48vh);
    }
    


  }

  @media only screen and (min-height: 1280px) {
    /* Large tablets and other monitors */ 
    .total-bet-container {
      bottom: calc(0.5% + -3.5vh);
    } 

    .coin-amount {
      font-size: calc(0.01rem + 2vh);
    }
  }
}

@media only screen and (orientation: landscape) {
  /*phones and tablets using landscape mode*/


  .orientation-background {
    display: none;
  }

  
  @media only screen and (min-height: 315px) {
    /* Very small smartphones */
    #container {
      overflow: auto;
    }

    .theme-name {
      display: none;
    }


    .bet-container {
      position: fixed;
      text-align: center;
      top: 20vh;
      left: 50%;
      padding: 0.5rem;
      border: 2px solid white;
      /* border-radius: 10px; */
      color: white;
      width: 470px;
      height: 273px;
    }

    .button-container {
      box-shadow: none;
      top: 98%;
      left: -2%;
      border: 0px solid rgba(0, 0, 0, 0);
      background-color: rgba(0, 0, 0, 0);
    }

    .total-bet-container {
      box-shadow: none;
      position: relative;
      width: 12rem;
      height: 90px;
      float: right;
      bottom: -10%;
      right: 0%;
    }

    .theme-container {
      position: relative;
      bottom: 0%;
      top: 5%;
      width: 60%;
      height: 40%;
      text-align: left;
      padding: 10px;
    }

    .choice {
      margin-top: 0;
    }
    
    span.bet-number {
      text-align: center;
      font-size: 2.1rem;
      position: relative;
      display: block;
      left: 17%;
      margin-top: 0rem;
      width: 87%;
      margin-right: 0;
    }
  
    .card {
      max-width: 85px;
      max-height: 67px;
      margin: 0rem;
      background-size: contain;
      border-radius: 5%;
    }

    .inactive {
      transform: translate(24vw, -90vh);
      -o-transform: translate(24vw, -90vh);
      -webkit-transform: translate(24vw, -90vh);
      -ms-transform: translate(24vw, -90vh);
      -moz-transform: translate(24vw, -90vh);
      transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
    }
  
    #p1-space, #cpu-space {
      margin-top: 0.75rem;
      height: 75vh;
    }
  
    .coin-container i {
      font-size: 2rem;
      margin-left: 1rem;
      width: 5%;
      height: 5vh;
      position: relative;
      top: 30%;
    }

  
    .coin-container {
      margin-top: 0;
      top: 0;
      left: 32%;
      border-top: 0;
      border-left: 0;
      padding: 0;
      border-right: 0;
      border-bottom: 2px solid whitesmoke;
      border-radius: 10%;
      background-color: rgba(0, 0, 0, 0);
      height: 55px;
      width: 149px;
    }
    
    .coin-amount {
      position: relative;
      right: 5%;
      bottom: -18%;
      font-size: 1.8rem;
      font-weight: bolder;
      flex: 1;
      color: white;
    }
  
    #player {
      margin-bottom: 0.3rem;
      margin-left: 1rem;
      margin-right: 1.5rem;
    }
    
    #dealer {
      margin-right: 1rem;
      margin-left: 1.5rem;
    }

    .result-overlay-container .text {
      width: calc(5rem + 47vw);
      height: calc(1rem + 9vh);
      padding: 0;
      color: white;
      margin: 0;
      font-size: 2rem;
    }

    #top-text {
      font-size: 2.2rem;
    }
    
    #bottom-text {
      font-size: 1.7rem;
      line-height: 1;
    }

    .insurance-container {
      bottom: -38%;
      left: 2%;
    }

  }

  @media only screen and (min-height: 355px) {
    /*samsung */
    .coin-container {
      left: 40%;
    }

    .card {
      max-width: 94px;
      max-height: 76px;
      margin: 0.1rem;
      background-size: contain;
      border-radius: 5%;
    }

    .bet-container {
      position: fixed;
      top: 20vh;
      left: 50%;
      padding: 0.5rem;
      border: 2px solid white;
      color: white;
      width: 585px;
      height: 263px;
    }

    .choice {
      margin-top: 3%;
    }

    .theme-container {
      bottom: 0%;
      top: 5%;
      width: 50%;
      height: 40%;
      text-align: left;
      padding: 10px;
    }

    .total-bet-container {
      position: relative;
      width: 16rem;
      height: 90px;
      float: right;
      bottom: -10%;
      right: 2%;
      border-radius: 50px;
      background-color: black;
      border: 1px solid white;
    } 

    .button-container {
      box-shadow: 0px 0px 40px 40px #1f1f1f;
      top: 97%;
      left: 2%;
      border: 1px solid white;
      background-color: rgb(0, 0, 0);
    }

    .insurance-container {
      bottom: -30.5%;
      left: 6%;
    }
  }

  @media only screen and (min-height: 370px) {
    /*Phone*/
    .card {
      max-width: 100px;
      max-height: 82px;
    }

  }

  @media only screen and (min-height: 406px) {
    /*phone*/
    .card {
      max-width: 110px;
      max-height: 92px;
    }

    .insurance-container {
      bottom: -22.5%;
      left: 6%;
    }


  }

  @media only screen and (min-height: 595px) {
    /*Most tablets and small computers*/

    .card {
      max-width: 210px;
      max-height: 192px;
      margin: 1.17rem;
    }

    .inactive {
      transform: translate(24vw, -78vh);
      -o-transform: translate(24vw, -78vh);
      -webkit-transform: translate(24vw, -78vh);
      -ms-transform: translate(24vw, -78vh);
      -moz-transform: translate(24vw, -78vh);
      transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
    }

    .button-container {
      margin: 0rem;
      padding: 0.33rem;
      position: absolute;
      top: 83%;
      left: 15%;
      transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
    }

    .total-bet-container {
      position: relative;
      float: right;
      bottom: -6%;
      right: 17%;
      box-shadow: 0px 0px 40px 40px #1f1f1f;
      opacity: 70%;
      user-select: none;
      padding: 0.5rem;
      text-align: center;
      border: 0.5px solid white;
      color: white;
      width: 16rem;
      height: 90px;
      font-size: 1.5rem;
      border-radius: 50px;
      background-color: black;
    }

    #deal-button {
      width: 30%;

    }

    .theme-name {
      display: inline;
    }

    .choice {
      max-width: 25%;
      max-height: 25%;
    }

    #top-text {
      font-size: 4.2rem;
    }
    
    #bottom-text {
      font-size: 2.9rem;
    }

    .insurance-container {
      bottom: 2.5%;
      left: 10%;
    }

  }

  @media only screen and (min-height: 1019px) {
    /* Most Computers and large tablets */

    .card {
      max-width: 280px;
      max-height: 262px;
      margin: 2rem;
    }

    .card-space {
      top: 5%;
    }

    .coin-amount {
      font-family: 'Oswald', sans-serif;
      font-size: 1.8rem;
      font-weight: bolder;
      flex: 1;
      color: white;
      letter-spacing: 0;
      user-select: none;
    }

    .button-container {
      top: 87%;
      left: 17%;
    }

    .total-bet-container {
      position: relative;
      width: 18rem;
      height: 99px;
      float: right;
      bottom: -10%;
      right: 17%;
    } 

    .result-overlay-container .text {
      width: calc(5rem + 47vw);
      height: calc(1rem + 7vh);
      padding: 0;
      color: white;
      margin: 0;
      font-size: 2rem;
    }

  }

  

}